* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.game {
  width: 600px;
  height: 600px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
}

.space {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}