include head

body
  .site.bg-primary.d-flex.flex-column
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand Game Site
      a.nav-link.text-white Home
      a.nav-link.text-white About
      a.nav-link.text-white Contact
      .ml-auto.d-flex
        a.nav-link.text-white Login

    #game.m-auto
      
    footer.nav.navbar-expand-lg.navbar-dark.bg-dark.mt-auto
        a.nav-link.text-white Game Site

include foot