include templates/head

form#refreshList
    input(type='submit' value='Refresh List')

form#newGame
    input(type='submit' value='Start Game')

div#gameList
    div
        h1 Games
    

include templates/foot