script(src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.24.1/phaser.min.js")
script(src="/socket.io/socket.io.js")
script.
    const socket = io();
script(src="/js/game.js")
script(src="/js/client.js")