* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 16px;
}

.itemlist {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}