* {
    margin: 0;
    padding: 00;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.game {
    padding: 5px;
    min-height: 100%;
}

.game__playspace {
    display: flex;
}

.game__screen {
    background-color: black;
    width: 800px;
    height: 600px;
    margin-right: 5px;
}

.game__output {
    background-color: grey;
    width: 400px;
    height: 600px;
    overflow-y: scroll;
}

.game__board {
    height: 600px;
    width: 600px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.game__board__space {
    background-color: white;
    width: 198px;
    height: 198px;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}