include head

.chatbox
form.messageForm
  input(type="text", name="message")
  input(type="submit", value="Send")

script(src="/socket.io/socket.io.js")
script.
  const socket = io();  
script(src="/javascripts/client.js")
  